{
    "singleQuote": false,
    "printWidth": 100,
    "trailingComma": "none",
    "tabWidth": 4,
    "bracketSpacing": true,
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "parser": "json",
                "arrayExpand": true
            }
        }
    ]
}
